h1 {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 40px;
  font-size: 50px;
}

.container {
  display: flex;
  padding: 20px;
}

.folderList {
 display: inline-block;
 position: relative;
 left: 0;
 width: 300px;
 border-right: 1px solid black;
 height: 100vh;
}

.folderList ul,
.noteList ul {
  padding-left: 0;
}

.noteList {
display: inline-block;
margin-left: 20%;
}

li {
  list-style: none;
  margin: 0;
  padding: 10px;
  text-align: left;
  border: 1px solid black;
}

.noteElement {
  width: 400px;
}



